/*-------------------- ALPHABETIZED BY ID ------------------*/

html, body{
    height: 100%;
    margin: 0 auto;
    /*background-color: #ffffff !important; */
    background-color: #f9f6f3 !important;
  }
  #banner-info {
  /*background-color:#cce5ff;*/
  border-color:#b8daff;
  border-radius:3px;
  color:#004085;
  margin:20px 0;
  padding:5px;
  text-align:center;
  width:100%;
  }

  #brewTable {
  display:inline-table;
  height:100px;
  width:100%;
  }
  
  #brew-content{
    height: 200vh;
    margin-top: 120px;
  }
.tooltip {
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "sdfdsf";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0;
}
  
  /*#centerContainer {
  text-align:center;
  width:100%;
  }*/
  #centerContainer {
      text-align: center;
      width: 80%;
      background: #ffffff;
      margin: 0 auto;
  }
  
  #centerContainer #logo {
  margin:0 auto;
  width:40%!important;
  }
  
  
  
  #dataContent {
  text-align:center;
  }
  /*#design-content{
    margin:0 auto;
    margin-top:150px;
    margin-bottom:50px;
    height: 100vh;
  }*/
  #design-content {
      margin: 0 auto;
      padding-top: 50px;
      margin-bottom: 50px;
      height: 100vh;
  }
  #design-content .btn-outline-danger a{
    text-decoration:none;
    color:#dc3545;
  }
  #design-content .btn-outline-success a{
    text-decoration:none;
    color:#28a745;
  }
  #design-content .btn-outline-primary a{
    text-decoration:none;
    color:#007bff;
  }
  #design-content a:hover{
    color:white !important;
  }
  #explore {
  margin-top:50px;
  }
  
  
  #history-content{
  }
  
  #home-content {
  margin-top:20px;
  margin-bottom:100px;
  }
  
  
  
  
  
  #logo-welcome img{
    width:500px;
    margin-top:100px;
  }
  #logo img {
      margin-top: 20px;
      width: 300px;
      margin-bottom: 30px;
  }
  
  #logo-small img {
  max-width:100px;
  position:absolute;
  right:0;
  top:0;
  }
  
  #nav-logo img {
  margin:0 auto;
  max-height:20px;
  }
  
  #recipe-content{
  }
  
  #small-cup {
  background:#252C32;
  border:2px solid #000;
  border-radius:0 0 5rem 5rem;
  height:100px;
  left:200px;
  margin-top:50px;
  position:absolute;
  width:125px;
  }
  
  #straw {
  -ms-transform:rotate(20deg);
  -webkit-transform:rotate(20deg);
  background:#134e13;
  height:225px;
  left:265px;
  position:absolute;
  top:125px;
  transform:rotate(20deg);
  width:15px;
  }
  
  #welcome-content {
  margin-top:60px;
  }
  
  /*---------------------- ALPHABETIZED BY CLASS -----------------------------*/
  .americano {
  }
  
  .audio-control {
  left:50%;
  margin-left:-50px;
  margin-top:-50px;
  position:fixed;
  text-align:center;
  top:50%;
  }
  .brew-content{
     height: -webkit-fill-available;
  }
  
  .cappucino {
  background:linear-gradient(tobottom,#252C325,#faf0e65,#faf0e645%,#CCA26A25%,#CCA26A70%,#5c403370%);
  }
  
  .container {
  padding:0!important;
  position:relative;
  width:100%;
  }
  
  .container .btn {
  -ms-transform:translate(-50%,-50%);
  background-color:#8B4513;
  border:#8B4513;
  border-radius:5px;
  color:#000;
  cursor:pointer;
  font-size:16px;
  left:50%;
  padding:12px 24px;
  position:absolute;
  right:40%;
  text-align:center;
  top:50%;
  transform:translate(-50%,-50%);
  }
  
  .container .btn:hover {
  background-color:#F0FFFF;
  }
  
  .container img {
  float:left;
  margin:2px;
  width:100%;
  }
  
  .container-fluid {
  padding:0!important;
  }
  
  .container:hover .image {
  opacity:0.1;
  }
  
  .container:hover .overlay,.container:hover .middle {
  opacity:1;
  }
  
  
  .content-row {
  display:flex;
  justify-content:center;
  width:100%;
  }
  
  .drip-coffee,.iced-coffee {
  background-color:#6f4e37;
  }
  
  .form-control {
  text-align:center;
  width:300px;
  }
  
  .hidden,a.link.router-link-exact-active.router-link-active {
  display:none;
  }
  
  .image {
  backface-visibility:hidden;
  display:block;
  height:auto;
  opacity:1;
  transition:.5s ease;
  width:100%;
  }
  
  .intbox {
  display:inline-block;
  height:30%;
  text-align:center;
  width:50%;
  }
  
  .intbox leftTopBox {
  width:20px!important;
  }
  
  .jumbotron {
  padding:4rem 2rem;
  }
  
  .latte {
  background:linear-gradient(tobottom,#252C325%,#faf0e65%,#faf0e630%,#CCA26A30%,#CCA26A70%,#5c403370%);
  }
  
  .left {
  background-color:#F0FFFF;
  left:5px;
  right:2px;
  top:80px;
  width:40%;
  }
  
  .leftBottomBox,.rightBottomBox {
  margin:auto;
  text-align:center;
  width:100%;
  }
  
  .leftTopBox {
  display:inline-block;
  height:50%;
  margin:auto;
  width:50%;
  }
  
  .main-content {
  padding:50px;
  }
  
  .middle {
  -ms-transform:translate(-50%,-50%);
  left:50%;
  opacity:0;
  position:absolute;
  text-align:center;
  top:50%;
  transform:translate(-50%,-50%);
  transition:.5s ease;
  }
  
  .option {
  height:320px;
  margin:10px;
  width:250px;
      border-color: saddlebrown !important;
  }
  
  .option img {
  width:200px;
  /*height:200px;*/
      margin-top: 20px;
  }
  
  .overlay {
  background-color:#008CBA;
  bottom:0;
  height:100%;
  left:0;
  opacity:0;
  position:absolute;
  right:0;
  top:0;
  transition:.5s ease;
  width:100%;
  }
  
  .right {
  background-color:#FFFFE0;
  right:5px;
  top:80px;
  }
  
  .rightTopBox {
  background-color:#5F9EA0;
  margin:auto;
  text-align:center;
  }
  
  .split {
  height:150%;
  overflow-x:hidden;
  padding-top:10px;
  position:fixed;
  top:0;
  width:50%;
  z-index:1;
  }
  
  .text {
  background-color:#1E90FF;
  color:#FFF;
  font-size:18px;
  padding:16px 32px;
  }
  
  /*.white-circle {
  background-color:#fff;
  border-radius:100px;
  box-shadow:0 0 8px #d8dbe3;
  cursor:pointer;
  height:100px;
  margin:0 auto;
  width:100px;
  }*/
  
  .white-circle {
      background-color: #ffffff;
      border-radius: 100px;
      box-shadow: 5px 5px 8px #000000;
      cursor: pointer;
      height: 95px;
      margin: 0 auto;
      width: 95px;
  }
  
  .white-circle img {
  position:relative;
  top:18px;
  }
  
  .white-circle:hover {
  box-shadow:0 0 8px #007dbc;
  }
  
  /*----------------------- ALPHABETIZED BY ElEMENT ---------------------*/
  a.brew-button {
    text-decoration: none;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #67564e;
    color: #fff;
    margin-top:50px;
  }
  a.brew-button:hover {
    background-color: #8b4513;
  }
  a.explore-button {
    text-decoration: none;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #67564e;
    color: #fff;
  }
  a.explore-button:hover{
    background-color: #8b4513;
  }
  
  canvas {
  border:#000;
  display:block;
  height:500px!important;
  left:0;
  margin-top:-50px;
  max-height:fit-content;
  position:fixed;
  top:50%;
  width:400px!important;
  z-index:-1;
  }
  
  div#centerContent div {
  margin:0 auto;
  text-align:center;
  }
  
  
  #centerContent h1 {
      text-align: left;
      margin-left: 15px;
      border-bottom: 4px inset saddlebrown;
  }
  
  
  footer {
  border-top:2px solid #8B4513;
  clear:both;
  margin-top:1em;
  padding-top:.7em;
  }
  
  footer p {
  font-size:80%;
  text-align:center;
  }
  
  h5 {
  margin-top:10px;
  text-align:center;
  }
  
  html,body {
  height:100%;
  margin:0 auto;
  }
  
  i.material-icons {
  color:#8B4513;
  font-size:204px;
  }
  
  input#wisdom {
  font-size:1em;
  padding:4px;
  width:400px;
  }
  
  input::placeholder {
  color:#ccc;
  font-style:italic;
  }
  
  nav {
  background-color:#67564e;
  width:100%;
  }
  
  nav ul {
  display:inline-block;
  margin:0;
  padding:0;
  }
  
  nav ul li {
  display:inline-block;
  list-style-type:none;
  }
  
  nav ul li a {
  display:block;
  font-family:arial;
  padding:10px;
  text-decoration:none;
  }
  
  nav ul li a a {
  color:#aaa;
  text-decoration:none!important;
  }
  
  nav ul li a:hover,.active {
  color:#FFF;
  }
  
  /* Home Page Icons */
  #home-content .btn {
      color: #67564e;
      border-color: #67564e;
      border-radius: 10px;
  }
  
  #home-content .btn:hover {
      background-color: #67564e;
      border-color: #ffffff;
      color: #ffffff;
  }
  
  #home-content .btn h2 {
      margin-top: 30px;
      margin-bottom: 30px;
  }
  .centerContent h1 {
    z-index: 100;
  }

  div#lexBot {
    width: 70%;
    background-color: #ffffff;
    /*background-image: url('./assets/ipad.png');*/
    background-image: url('src/assets/red-robot-3.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75%;
    height: 100%;
    min-width: 674px;
    max-width: 674px;
  }

  div#botTitle {
    margin: 0px !important;
    padding: 0px !important;
    /* width: inherit; */
    margin: 0 auto !important;
    margin-top: 9% !important;
    z-index: 100;
  }

  div#botTitle h1 {
    margin: 0px !important;
    padding: 0px !important;
    /*white-space: nowrap; */
  }

  div#robot {
    /*position: absolute;
    top: 25%;
    left: 32%;*/
    z-index: 0;
    margin-top: -100px !important;
  }

  div#robot img {
    margin: -76px auto;
    width: 70%;
    height: 10%;
  }

  .audio-control2 {
    /*margin-top: 92% !important;*/
    margin-top: -60% !important;
    font-size: 16pt;
  }

  /*.audio-control3 {
      position: relative;
      top: -20%;
  }*/

.audio-control3 {
  /* margin-top: 210% !important; */
  margin-top: -180% !important;
}

.col-md-3 {
  padding-top: 32% !important;
  /* margin-top: 2% !important; */
}

  .jumbotron {
    background-color: #fdfdf7 !important;
  }

  p.lexError {
    background-color:#f77;
    border-radius:4px;
    float:right;
    margin:4px;
    max-width:85%;
    min-width:50%;
    padding:4px 10px;
    text-align:right;
  }

  p.lexResponse {
    background-color:#bbf;
    border-radius:4px;
    float:right;
    font-style:italic;
    margin:4px;
    max-width:85%;
    min-width:50%;
    padding:4px 10px;
    text-align:right;
  }

  p.userRequest {
    background-color:#7d7;
    border-radius:4px;
    float:left;
    margin:4px;
    max-width:85%;
    min-width:50%;
    padding:4px 10px;
  }
  
  /* Explore */
  #design-content .btn {
      border: none;
      /* text-align: center; */
  }
  
  #design-content .btn a {
      color: black;
      /* padding-top: 10px; */
      display: inline-block;
  }
  
  #design-content .btn a h2 {
      margin-top: 12px;
  }
  
  div#design-content h1 {
      text-align: left;
      margin-left: 15px;
      border-bottom: 4px inset saddlebrown;
  }
  
  @media min-width 992px{
  .container {
  max-width:none!important;
  }
  }
  
  #menuImages {
          max-width: 40% !important; 
      max-height: 60% !important; 
  }
  
  canvas {
      position: absolute;
      top: 30%;
      left: 31%;
      margin: 0;
      padding: 0;
  }
  
  
  /*------------------ CUSTOMIZE DRINK --------------------------------*/
  #customize-menu{
      margin:50px;
      display:flex;
      min-width:700px;
      max-width:900px;
      margin: 0 auto;
    }
    #customize-menu #slider-range-max{
      max-width:200px;
      margin: 0 auto;
    }
    #customize-menu.option{
      width:100px !important;
      height:50px !important;
    }
    #customize-menu .left{
      width: 70%;
      background-color: #ffffff !important;
    }
    #customize-menu.option{
      display:inline-block;
      border:1px solid black;
      text-align:center;
      border-radius: 3px;
    }
    .selection{
      display:block;
      border: 1px solid black;
      height: 100px;
      margin:20px;
    }
    .selection p{
      text-align:center;
    }
    #amountArea{
      background-color:#fff;
    }
    #amountArea p{
      margin-block-end: 0;
    }
    input#amount{
      -webkit-appearance: none !important;
        border: none;
        display:block;
        text-align:center;
        border-radius: 3px;
        width: 96px;
        height:48px;
        margin: 0 auto;
        font-family:arial;
        font-size: 20px !important;
        padding: 0px;
        margin-bottom:5px;
    
    }
    #customize-menu .right{
      width:30%;
      background-color: #ffffff !important;
    }
    #customize-menu .right h2{
      text-align: center;
    }
    
    .droppedOn{
      background-color:white;
    }
    
    .option.hot{
      background-color:  #e1503d;
    }
    .option.cold{
      background-color: #0abfd6;
    }
    #flavor.option.vanilla{
      background-color: #D4BC9B;
      color:#333;
    }
    .option.hazelnut{
      background-color: #a68679;
      color:#eee;
    }
    .option.chocolate{
      background-color: #7B3F00;
      color:#eee;
    }
    
    .option.skim{
      background-color: #f4f3f0;
    }
    .option.almond{
      background-color:#d4d0c1;
    }
    .option.cream{
      background-color: #DCD9CD;
    }
    .option.whole{
      background-color: #ecebe4;
    }
    
    .option.coffee{
      background-color:#a0522d;
      color: #eee;
    }
    .option.espresso{
      background-color:#67564e;
      color:#eee;
    }
    .option.greenTea{
      background-color:#666633;
      color:#eee;
    }
    .option.blackTea{
      background-color:#801a08;
      color:#eee;
    }
    a#resetOptions.router-link-exact-active.router-link-active {
      padding:10px;
      border:1px solid black;
      border-radius:3px;
      background-color: #fff;
      margin: 0 auto;
      display: block;
      font-family:Arial !important;
      font-size: 16px;
      color: black;
    }
    #brew-button{
      padding:10px;
      border-radius:3px;
      background-color: #fff;
      margin: 0 auto;
      display: block;
      font-family:Arial !important;
      font-size: 16px;
      margin-top:50px;
      display: block;
      margin: 0 auto;
    }
    #customize-menu #slider-range-max{
      max-width:200px;
    }
    #customize-menu .option{
      display:inline-block;
      width:100px !important;
      height:50px !important;
      border-radius: 3px;
    }
  
  
    /*------------------- BREWING -------------------*/
    .latte {
      background: linear-gradient(to bottom, #252C32 5%, #faf0e6 5%, #faf0e6 30%, #CCA26A 30%, #CCA26A 70%, #5c4033 70%);
    }
    .cappucino{
      background: linear-gradient(to bottom, #252C32 5%, #faf0e6 5%, #faf0e6 45%, #CCA26A 25%, #CCA26A 70%, #5c4033 70%);
    }
    .americano{
      background: linear-gradient(to bottom, #252C32 5%, #6495ed 5%, #6495ed 70%, #CCA26A 70%, #6f4e37 70%);
    }
    .drip-coffee{
      background-color: #6f4e37;
    }
    .iced-coffee{
      background-color: #6f4e37;
    }
    .green-tea{
      background-color: #666633;
    }
    .black-tea{
      background-color: #801a08;
    }
    .vanilla-latte{
      background: linear-gradient(to bottom, #252C32 5%, #faf0e6 5%, #faf0e6 30%, #CCA26A 30%, #CCA26A 70%, #5c4033 70%);
    }
    .hazelnut-latte{
      background: linear-gradient(to bottom, #252C32 5%, #faf0e6 5%, #faf0e6 30%, #CCA26A 30%, #CCA26A 70%, #5c4033 70%);
    }
    .chocolate-latte{
      background: linear-gradient(to bottom, #252C32 5%, #faf0e6 5%, #faf0e6 30%, #CCA26A 30%, #CCA26A 70%, #5c4033 70%);
    }
    #small-cup {
      background:#252C32;
      border:2px solid #000;
      border-radius:0 0 5rem 5rem;
      height:100px;
      left:200px;
      margin-top:50px;
      position:absolute;
      width:125px;
    }
      
    #straw {
      -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    background: #134e13;
    height: 225px;
    transform: rotate(20deg);
    width: 15px;
    position: relative;
    display: inline-block;
    margin-left: -60px;
    }
    #ice-cubes{
      display:inline-block;
      margin-left: -30px;
    }
    #ice-cube-1 {
      background:#e3e4e1;
      border:1px solid #dcf3ff;
      border-radius:3px;
      height:25px;
      position: relative;
    display: inline-block;
    
      width:25px;
      z-index:1;
      margin-left: -120px;
      margin-bottom: 10px;
    }
        
    #ice-cube-2 {
      background:#e3e4e1;
      border:1px solid #dcf3ff;
      border-radius:3px;
      height:25px;
      position: relative;
    display: inline-block;
      width:25px;
      z-index:1;
      margin-left: 10px;
      margin-bottom: 10px;
    }
    
    #ice-cube-3 {
      background:#e3e4e1;
      border:1px solid #dcf3ff;
      border-radius:3px;
      height:25px;
      position: relative;
    display: inline-block;
      width:25px;
      z-index:1;
      margin-left: 10px;
      margin-bottom: 10px;
    }
    
    #ice-cube-4 {
      background:#e3e4e1;
      border:1px solid #dcf3ff;
      border-radius:3px;
      height:25px;
      position: relative;
    display: inline-block;
      width:25px;
      margin-left: -85px;
      z-index: 1;
      margin-bottom: 45px;
    }
    
    #ice-cube-5 {
      background:#e3e4e1;
      border:1px solid #dcf3ff;
      border-radius:3px;
      height:25px;
      position: relative;
    display: inline-block;
      width:25px;
      margin-bottom: 45px;
    margin-left: 10px;
    }
  
    #glass {
      border:2px solid #000;
      border-radius:0 0 1rem 1rem;
      height:200px;
      height: 200px;
      display: inline-block;
      width:125px;
      margin-left: 50px;
    }
      
    #handle {
      background: transparent;
      border: 3px solid #000;
      border-radius: 50% 30%;
      height: 80px;
      width: 50px;
      z-index: 0;
      display: inline-block;
      margin-left: -25px;
      margin-bottom: 91px;
    }
  
    #cup {
      border: 2px solid #000;
      border-radius: 0 0 5rem 5rem;
      height: 200px;
      margin-top: 50px;
      width: 220px;
      z-index: 1;
      margin: 0 auto;
      display: inline-block;
      position: relative;
    }
  
  /*---------------- P5 BREW ----------------------*/
  canvas#defaultCanvas0.p5Canvas{
    width: 400px !important;
    height: 390px !important;
    border-radius: 0 0 10rem 10rem;
    border: 5px solid black;
    margin: 0 auto;
    display: inline-block;
    position: relative !important;
    z-index:1;
    margin-left: -60px;
  }
  .hidden{
    display:none !important;
  }
  div.p5{
    display:inline-block;
  }
  div.p5 div{
    display:inline-block;
  }
  #handle.vue{
      margin-left: 60px;
    position: inherit !important;
    height: 150px;
    margin-bottom: 150px;
    width: 100px;
    z-index: 0;
    border: 10px solid black;
  }
  /*------------------ SELECTABLE --------------*/
  #selectable .ui-selecting { background: #5c4033; color:white;}
  #selectable .ui-selected { background: #5c4033; color: white; }
  #selectable { list-style-type: none; margin: 0 auto; padding: 0; width: 100%; max-width: 250px; text-align:left; }
  #selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 50px; }
  #selectable:hover{
    cursor:pointer;
  }

  .brew-content button{
        padding:10px;
        background-color: #5c4033;
        border-radius:3px;
        border: 1px solid black;
        text-decoration: none !important;
        margin-top:50px;
        display:block;
        margin: 0 auto;
  }
  .brew-content button h2{
      
      text-decoration: none;
      color: white;
  }
  .brew-content button a{
      text-decoration: none;
  }
  .brew-content button:hover{
    background-color:#8b4513;
  }
  .drink-area{
    margin-top:100px;
  }
  .drink-area h1{
    margin-bottom: 100px !important;
  }
  